<header class="header-container" fxLayout="row wrap" fxLayoutAlign="space-between">
    <mat-icon svgIcon="toggleMenuIcon" (click)="sideMenu.toggle()" [ngClass]="sideMenu.opened && 'opened'"></mat-icon>
    <div class="actions" fxLayout="row" fxLayoutAlign="center center">
        <button class="matMenu" mat-stroked-button [matMenuTriggerFor]="menu">
            <img src="../../../../assets/images/avatar.png" class="avatar">
            {{userInfo.name}}
        </button>
        <mat-menu #menu="matMenu">
            <button mat-menu-item routerLink="/user-management/{{userInfo.user_id}}">
                <mat-icon>voicemail</mat-icon>
                <span>{{'menu.profile' | translate}}</span>
            </button>
            <button mat-menu-item (click)="logout()">
                <mat-icon>voicemail</mat-icon>
                <span>{{'menu.logout' | translate}}</span>
            </button>
        </mat-menu>
    </div>
</header>