.nav-container {
    ul {
        list-style: none;
        padding: 0;
        li {
            position: relative;
            cursor: pointer;
            padding: 0;
            margin: 0;
            color: #b8c7ce;
            button {
                width: 100%;
                border-radius: 0;
                text-align: left;
                border-left: 0;
                border-right: 0;
                border-bottom: 1px solid white;
                &:focus {
                    outline: none;
                }
                &:last-child {
                    border-bottom: 0;
                }
            }
            &.active {
                background-color: #1E272A;
                color: white;
                &::before {
                    content: "";
                    position: absolute;
                    width: 3px;
                    height: 100%;
                    background-color: #FAFAFA;
                    left: 0;
                    top: 0;
                }
            }
            &:hover {
                &::before {
                    content: "";
                    position: absolute;
                    width: 3px;
                    height: 100%;
                    background-color: #FAFAFA;
                    left: 0;
                    top: 0;
                }
            }
        }
    }
}