:host {
    .drawer-container {
        height: calc(100vh - 50px);
        mat-drawer {
            visibility: visible !important;
            background-color: #253135;
        }
        /deep/ .mat-drawer-inner-container {
            overflow-x: hidden;
        }
        .content-wrapper {
            padding: 10px 10px 0 10px;
        }
    }
    .undisplayed {
        display: none !important;
    }
}