<app-header [sideMenu]="drawer"></app-header>
<mat-drawer-container class="drawer-container" [hasBackdrop]="true">
    <mat-drawer #drawer [mode]="'push'" class="drawer-side">
        <app-sidemenu></app-sidemenu>
    </mat-drawer>
    <mat-drawer-content fxLayout="column">
        <div class="wrapper" fxLayout="column" fxFlex="1 1 auto">
            <app-breadcrumb></app-breadcrumb>
            <app-main fxFlex="1 1 auto"></app-main>
            <app-footer></app-footer>
        </div>
    </mat-drawer-content>
</mat-drawer-container>