.adv-management-main {
    >mat-accordion {
        margin: 20px 0;
    }
    .advs {
        margin-bottom: 20px;
    }
    .filter-panel {
        .filter-group {
            mat-form-field {
                margin-right: 10px;
                &:first-child {
                    margin-left: 0;
                }
                &:last-child {
                    margin-right: 0;
                }
            }
        }
        .date-range {
            input {
                cursor: pointer;
            }
        }
    }
    mat-panel-description {
        margin: 0;
    }
    mat-form-field {
        width: 100%;
    }
}