<div class="adv-management-main" fxLayout="column" fxFlex="1 1 auto">
  <div class="actions" fxLayout="row" fxLayoutAlign="flex-end">
    <button mat-raised-button color="primary" routerLink="create">Create</button>
  </div>

  <mat-accordion fxLayout="column" fxFlex="1 1 auto" class="filter-panel">
    <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
      <mat-expansion-panel-header>
        <mat-panel-title>
          Lọc
        </mat-panel-title>
      </mat-expansion-panel-header>
      <mat-panel-description fxLayout="column" fxFlex="wrap">
        <div class="filter-group date-range" fxLayoutAlign="end">
          <mat-form-field>
            <input matInput disabled [value]="dateRange.start | date:'d/M/y'" placeholder="Bắt đầu từ ngày">
            <input matInput [hidden]="true" [max]="dateRange.end" [(ngModel)]="dateRange.start"
              [matDatepicker]="pickerStart">
            <mat-datepicker-toggle matSuffix [for]="pickerStart"></mat-datepicker-toggle>
            <mat-datepicker #pickerStart disabled="false"></mat-datepicker>
          </mat-form-field>
          <mat-form-field>
            <input matInput disabled [value]="dateRange.end | date:'d/M/y'" placeholder="Tới ngày">
            <input matInput [hidden]="true" [min]="dateRange.start" [max]="today" [(ngModel)]="dateRange.end"
              [matDatepicker]="pickerEnd">
            <mat-datepicker-toggle matSuffix [for]="pickerEnd"></mat-datepicker-toggle>
            <mat-datepicker #pickerEnd disabled="false"></mat-datepicker>
          </mat-form-field>
        </div>
        <div class="filter-group row">

          <div *ngFor="let field of Object.keys(searchCriterias)" class="col-lg-2">
            <app-autocomplete *ngIf="searchCriterias[field].type === 'selection' && field === 'addressSearching'"
              [keyField]="'addressSearching'"
              [valueField]="'addressSearching'"
              [fieldLabel]="searchCriterias[field].title"
              [remote]="'http://localhost:8080/management/advs/search'"
              [displayFields]="['houseNo', 'street', 'ward', 'district', 'province']"
              (changes)="searchCriterias[field].value = $event"></app-autocomplete>
            <mat-form-field *ngIf="searchCriterias[field].type === 'input' || searchCriterias[field].type === 'autocomplete'">
              <input matInput *ngIf="searchCriterias[field].type === 'input'" placeholder="{{searchCriterias[field].title}}" [(ngModel)]="searchCriterias[field].value">

              <input matInput *ngIf="searchCriterias[field].type === 'autocomplete'" placeholder="{{searchCriterias[field].title}}" [(ngModel)]="searchCriterias[field].value">
            </mat-form-field>

            <app-autocomplete *ngIf="searchCriterias[field].type === 'selection' && field === 'provinceSearching'"
              [keyField]="'name'"
              [valueField]="'name'"
              [fieldLabel]="searchCriterias[field].title" 
              [options]="searchCriterias[field].options"
              (changes)="searchCriterias[field].value = $event"></app-autocomplete>

            <app-autocomplete *ngIf="searchCriterias[field].type === 'selection' && field === 'createdBy'"
              [keyField]="'username'"
              [valueField]="'username'"
              [fieldLabel]="searchCriterias[field].title" 
              [options]="searchCriterias[field].options"
              (changes)="searchCriterias[field].value = $event"></app-autocomplete>
          </div>
        </div>
        <button mat-raised-button color="warn" (click)="buildDataTable(true)">Lọc</button>
      </mat-panel-description>
    </mat-expansion-panel>
  </mat-accordion>

  <div class="mat-elevation-z8 advs" fxLayout="column" fxFlex="1 1 auto">
    <table mat-table [dataSource]="dataSource">
      <ng-container matColumnDef="select">
        <th mat-header-cell *matHeaderCellDef>
          <mat-checkbox (change)="$event ? masterToggle() : null" [checked]="selection.hasValue() && isAllSelected()"
            [indeterminate]="selection.hasValue() && !isAllSelected()">
          </mat-checkbox>
        </th>
        <td mat-cell *matCellDef="let row">
          <mat-checkbox (click)="$event.stopPropagation()" (change)="$event ? selection.toggle(row) : null" [checked]="selection.isSelected(row)">
          </mat-checkbox>
        </td>
      </ng-container>

      <ng-container matColumnDef="position">
        <th mat-header-cell *matHeaderCellDef [width]="30"> No. </th>
        <td mat-cell *matCellDef="let element; let i = index"> {{(i + 1) + (paginator.pageIndex * paginator.pageSize)}}
        </td>
      </ng-container>

      <ng-container matColumnDef="code">
        <th mat-header-cell *matHeaderCellDef [width]="100"> Mã </th>
        <td mat-cell *matCellDef="let element; let i = index"> {{element.code}} </td>
      </ng-container>

      <ng-container matColumnDef="title">
        <th mat-header-cell *matHeaderCellDef [width]="200"> Tiêu đề </th>
        <td mat-cell *matCellDef="let element"> {{element.title}} </td>
      </ng-container>

      <ng-container matColumnDef="address">
        <th mat-header-cell *matHeaderCellDef [width]="300"> Địa chỉ </th>
        <td mat-cell *matCellDef="let element">{{element.houseNo}} - {{element.street}} - {{element.ward}} -
          {{element.district}} - {{element.province}}</td>
      </ng-container>

      <ng-container matColumnDef="size">
        <th mat-header-cell *matHeaderCellDef> Kích thước </th>
        <td mat-cell *matCellDef="let element">{{element.heightSize }} x {{element.widthSize}}</td>
      </ng-container>

      <ng-container matColumnDef="createdDate">
        <th mat-header-cell *matHeaderCellDef> Ngày tạo </th>
        <td mat-cell *matCellDef="let element">{{element.createdDate | date:'dd/MM/yyyy'}}</td>
      </ng-container>

      <ng-container matColumnDef="subTitle">
        <th mat-header-cell *matHeaderCellDef> # </th>
        <td mat-cell *matCellDef="let element">
          <div>TTCN</div>
          <div>TTCTQC</div>
        </td>
      </ng-container>

      <ng-container matColumnDef="contact">
        <th mat-header-cell *matHeaderCellDef> Liên hệ </th>
        <td mat-cell *matCellDef="let element">
          <div>{{element.ownerContactPerson}} A</div>
          <div>{{element.advCompContactPerson}} A</div>
        </td>
      </ng-container>

      <ng-container matColumnDef="images">
        <th mat-header-cell *matHeaderCellDef> Hình ảnh </th>
        <td mat-cell *matCellDef="let element"></td>
      </ng-container>

      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef> # </th>
        <td mat-cell *matCellDef="let element">
          <mat-icon class="action" [routerLink]="['/adv-management', element.id]">edit</mat-icon>
          <mat-icon class="action" (click)="removeAdv(i, element.id)">delete</mat-icon>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="selection.toggle(row)"></tr>
    </table>

    <mat-paginator [pageSizeOptions]="pageSizeOptions" showFirstLastButtons [length]="totalOfPages" (page)="buildDataTable()"></mat-paginator>
  </div>

  <div class="actions" fxLayout="row" fxLayoutAlign="flex-end">
    <button mat-raised-button color="primary" routerLink="create">Create</button>
  </div>
</div>