<form (submit)="onSave()" [formGroup]="advertForm" #f="ngForm" autocomplete="off">
  <div class="adv-detail" fxLayout="row">
    <mat-card fxFlex="1 1 80%">
      <mat-card-title>
        {{advert.id ? 'Cập nhật địa điểm' : 'Tạo mới địa điểm'}}
        <button type="button" mat-raised-button class="pull-right" (click)="openHistory()">...</button>
      </mat-card-title>
      <mat-card-content fxLayout="column">
        <div class="basic-info" fxLayout="column">
          <mat-form-field *ngIf="advert.code">
            <input matInput placeholder="{{'advert.form.code' | translate}}" formControlName="code" readonly>
          </mat-form-field>
          <mat-form-field>
            <input matInput placeholder="{{'advert.form.title' | translate}}" formControlName="title">
          </mat-form-field>
          <mat-form-field>
            <input matInput placeholder="{{'advert.form.houseNo' | translate}}" formControlName="houseNo">
          </mat-form-field>
          <mat-form-field>
            <input matInput placeholder="{{'advert.form.street' | translate}}" formControlName="street">
          </mat-form-field>
          <mat-form-field>
            <input matInput placeholder="{{'advert.form.ward' | translate}}" formControlName="ward">
          </mat-form-field>
          <mat-form-field>
            <input matInput placeholder="{{'advert.form.district' | translate}}" formControlName="district">
          </mat-form-field>
          <app-autocomplete
              [keyField]="'name'"
              [valueField]="'code'"
              [fieldLabel]="'advert.form.district' | translate" 
              [options]="provinces"
              [exactRequired]="true"
              [selected]="form.controls.provinceCode.value"
              (changes)="setFormValue('provinceCode', $event)"></app-autocomplete>
          <mat-form-field>
            <input matInput placeholder="{{'advert.form.coordinates' | translate}}" formControlName="coordinates" pattern="[0-9]*,[0-9]*">
          </mat-form-field>
          <mat-form-field>
            <input matInput placeholder="{{'advert.form.price' | translate}}" formControlName="price">
          </mat-form-field>
          <mat-form-field>
            <input matInput placeholder="{{'advert.form.widthSize' | translate}}" formControlName="widthSize">
          </mat-form-field>
          <mat-form-field>
            <input matInput placeholder="{{'advert.form.heightSize' | translate}}" formControlName="heightSize">
          </mat-form-field>
          <mat-form-field>
            <input matInput placeholder="{{'advert.form.amount' | translate}}" formControlName="amount">
          </mat-form-field>
          <mat-form-field>
            <input matInput placeholder="{{'advert.form.views' | translate}}" formControlName="views">
          </mat-form-field>
          <mat-form-field>
            <input matInput placeholder="{{'advert.form.flow' | translate}}" formControlName="flow">
          </mat-form-field>
          <mat-form-field>
            <input matInput placeholder="{{'advert.form.implTime' | translate}}" type="number" formControlName="implTime">
          </mat-form-field>
          <mat-form-field>
            <input matInput placeholder="{{'advert.form.implForm' | translate}}" formControlName="implForm">
          </mat-form-field>
          <mat-form-field>
            <input matInput placeholder="{{'advert.form.lightSystem' | translate}}" formControlName="lightSystem">
          </mat-form-field>
          <mat-form-field>
            <mat-select placeholder="{{'advert.form.type' | translate}}" formControlName="type">
              <mat-option *ngFor="let type of advertForms" [value]="type">
                {{type}}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field *ngIf="advert.createdBy">
            <input matInput readonly placeholder="{{'advert.form.createdBy' | translate}}" formControlName="createdBy">
          </mat-form-field>
          <mat-form-field>
            <textarea matInput placeholder="{{'advert.form.describe' | translate}}" formControlName="describe"></textarea>
          </mat-form-field>
        </div>
        <div fxLayout="row">
          <mat-card class="host-info" fxFlex="1 1 50%">
            <mat-card-title>Thông tin chủ nhà</mat-card-title>
            <mat-card-content fxLayout="column">
              <mat-form-field>
                <input matInput placeholder="{{'advert.form.ownerPhone' | translate}}" formControlName="ownerPhone">
              </mat-form-field>
              <mat-form-field>
                <input matInput placeholder="{{'advert.form.ownerEmail' | translate}}" formControlName="ownerEmail">
              </mat-form-field>
              <mat-form-field>
                <input matInput placeholder="{{'advert.form.ownerPrice' | translate}}" formControlName="ownerPrice">
              </mat-form-field>
              <mat-form-field>
                <input matInput placeholder="{{'advert.form.ownerContactPerson' | translate}}" formControlName="ownerContactPerson">
              </mat-form-field>
              <mat-form-field>
                <input matInput placeholder="{{'advert.form.ownerStartDate' | translate}}" (click)="pickerOwnerStart.open()"
                [max]="form.controls.ownerEndDate.value"
                [matDatepicker]="pickerOwnerStart" formControlName="ownerStartDate">
                <mat-datepicker-toggle matSuffix [for]="pickerOwnerStart"></mat-datepicker-toggle>
                <mat-datepicker #pickerOwnerStart></mat-datepicker>
              </mat-form-field>
              <mat-form-field>
                <input matInput placeholder="{{'advert.form.ownerEndDate' | translate}}" (click)="pickerOwnerEnd.open()"
                [min]="form.controls.ownerStartDate.value"
                [matDatepicker]="pickerOwnerEnd" formControlName="ownerEndDate">
                <mat-datepicker-toggle matSuffix [for]="pickerOwnerEnd"></mat-datepicker-toggle>
                <mat-datepicker #pickerOwnerEnd></mat-datepicker>
              </mat-form-field>
              <mat-form-field>
                <textarea matInput placeholder="{{'advert.form.ownerNote' | translate}}" formControlName="ownerNote"></textarea>
              </mat-form-field>
            </mat-card-content>
          </mat-card>
          <mat-card class="company-info" fxFlex="1 1 50%">
            <mat-card-title>Thông tin CTQC</mat-card-title>
            <mat-card-content fxLayout="column">
              <mat-form-field>
                <input matInput placeholder="{{'advert.form.advCompName' | translate}}" formControlName="advCompName">
              </mat-form-field>
              <mat-form-field>
                <input matInput placeholder="{{'advert.form.advCompPhone' | translate}}" formControlName="advCompPhone">
              </mat-form-field>
              <mat-form-field>
                <input matInput placeholder="{{'advert.form.advCompEmail' | translate}}" formControlName="advCompEmail">
              </mat-form-field>
              <mat-form-field>
                <input matInput placeholder="{{'advert.form.advCompPrice' | translate}}" formControlName="advCompPrice">
              </mat-form-field>
              <mat-form-field>
                <input matInput placeholder="{{'advert.form.advCompContactPerson' | translate}}" formControlName="advCompContactPerson">
              </mat-form-field>
              <mat-form-field>
                <input matInput placeholder="{{'advert.form.advCompStartDate' | translate}}" (click)="pickerCompStart.open()"
                [max]="form.controls.advCompEndDate.value"
                [matDatepicker]="pickerCompStart" formControlName="advCompStartDate">
                <mat-datepicker-toggle matSuffix [for]="pickerCompStart"></mat-datepicker-toggle>
                <mat-datepicker #pickerCompStart></mat-datepicker>
              </mat-form-field>
              <mat-form-field>
                <input matInput placeholder="{{'advert.form.advCompEndDate' | translate}}" (click)="pickerCompEnd.open()"
                [min]="form.controls.advCompStartDate.value"
                [matDatepicker]="pickerCompEnd" formControlName="advCompEndDate">
                <mat-datepicker-toggle matSuffix [for]="pickerCompEnd"></mat-datepicker-toggle>
                <mat-datepicker #pickerCompEnd></mat-datepicker>
              </mat-form-field>
              <mat-form-field>
                <textarea matInput placeholder="{{'advert.form.advCompNote' | translate}}" formControlName="advCompNote"></textarea>
              </mat-form-field>
            </mat-card-content>
          </mat-card>
        </div>
      </mat-card-content>
      <mat-card-actions fxLayoutAlign="flex-end">
        <button type="button" mat-raised-button color="warn" routerLink="/">{{'common.cancel' | translate}}</button>
        <button type="button" [disabled]="f.form.invalid"
          (click)="publish()"
          mat-raised-button color="primary">{{advert.publishedDate ? 'common.republish' : 'common.publish' | translate}}</button>
        <button type="button" [disabled]="f.form.invalid"
          (click)="unpublish()" *ngIf="advert.publishedDate"
          mat-raised-button color="primary">{{'common.unpublish' | translate}}</button>
        <button type="submit" [disabled]="f.form.invalid" mat-raised-button color="primary">{{'common.save' | translate}}</button>
      </mat-card-actions>
    </mat-card>
    <div class="media" fxLayout="column" fxFlex="1 1 20%">
      <mat-card class="normal">
        <mat-card-title>{{'advert.form.images' | translate}}</mat-card-title>
        <mat-card-content fxLayout="column">
          <div cdkDropList class="images" (cdkDropListDropped)="drop($event)">
            <div class="image" *ngFor="let image of advert.images; let i = index;" cdkDrag fxLayout="column">
              <div class="image-placeholder" *cdkDragPlaceholder></div>
              <div class="image-actions">
                <mat-checkbox [checked]="image.selected" (change)="image.selected = $event.checked"></mat-checkbox>
                <mat-icon (click)="removeImage(i)">delete_outline</mat-icon>
              </div>
              <img *ngIf="!image.file" [src]="baseUrl + '/resources/images?url=' + image.url" />
              <img *ngIf="image.file" [src]="image.url" />
              <input type="file" [ngStyle]="{marginTop: '10px'}" (change)="changeImages($event, i)" />
            </div>
          </div>
          <input type="file" multiple [ngStyle]="{marginTop: '10px'}" (change)="changeImages($event, -1)" />
        </mat-card-content>
      </mat-card>
      <mat-card class="map" [ngStyle]="{marginTop: '10px'}">
        <mat-card-title>{{'advert.form.map' | translate}}</mat-card-title>
        <mat-card-content class="images" fxLayout="column">
          <div class="image" fxLayout="column">
            <div class="image-actions">
              <mat-icon>delete_outline</mat-icon>
            </div>
            <img *ngIf="advert.map && !advert.map.file" [src]="baseUrl + '/resources/images?url=' + advert.map.url" />
            <img *ngIf="advert.map && advert.map.file" [src]="advert.map.url" />
            <input type="file" [ngStyle]="{marginTop: '10px'}" (change)="changeMap($event)" />
          </div>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</form>