<form (submit)="onSave()" [formGroup]="advertForm" #f="ngForm" autocomplete="off">
  <div class="adv-detail" fxLayout="row">
    <mat-card fxFlex="1 1 80%">
      <mat-card-title>{{advert.id ? 'Cập nhật địa điểm' : 'Tạo mới địa điểm'}}</mat-card-title>
      <mat-card-content fxLayout="column">
        <div class="basic-info" fxLayout="column">
          <mat-form-field *ngIf="advert.code">
            <input matInput placeholder="Mã" formControlName="code" readonly>
          </mat-form-field>
          <mat-form-field>
            <input matInput placeholder="Tiêu đề" formControlName="title">
          </mat-form-field>
          <mat-form-field>
            <input matInput placeholder="Số nhà" formControlName="houseNo">
          </mat-form-field>
          <mat-form-field>
            <input matInput placeholder="Tên đường" formControlName="street">
          </mat-form-field>
          <mat-form-field>
            <input matInput placeholder="Phường" formControlName="ward">
          </mat-form-field>
          <mat-form-field>
            <input matInput placeholder="Quận" formControlName="district">
          </mat-form-field>
          <mat-form-field>
            <input matInput placeholder="Tỉnh" formControlName="provinceCode">
          </mat-form-field>
          <mat-form-field>
            <input matInput placeholder="Tọa độ" formControlName="map">
          </mat-form-field>
          <mat-form-field>
            <input matInput placeholder="Đơn giá" formControlName="price">
          </mat-form-field>
          <mat-form-field>
            <input matInput placeholder="Chiều rộng" formControlName="widthSize">
          </mat-form-field>
          <mat-form-field>
            <input matInput placeholder="Chiều dài" formControlName="heightSize">
          </mat-form-field>
          <mat-form-field>
            <input matInput placeholder="Số lượng" formControlName="amount">
          </mat-form-field>
          <mat-form-field>
            <input matInput placeholder="Tầm nhìn" formControlName="views">
          </mat-form-field>
          <mat-form-field>
            <input matInput placeholder="Lưu lượng" formControlName="flow">
          </mat-form-field>
          <mat-form-field>
            <input matInput placeholder="Thời gian thực hiện" formControlName="implTime">
          </mat-form-field>
          <mat-form-field>
            <input matInput placeholder="Hình thức thực hiện" formControlName="implForm">
          </mat-form-field>
          <mat-form-field>
            <input matInput placeholder="Hệ thống chiếu sáng" formControlName="lightSystem">
          </mat-form-field>
          <mat-form-field>
            <input matInput placeholder="Loại hình" formControlName="type">
          </mat-form-field>
          <mat-form-field>
            <textarea matInput placeholder="Mô tả" formControlName="describe"></textarea>
          </mat-form-field>
        </div>
        <div fxLayout="row">
          <mat-card class="host-info" fxFlex="1 1 50%">
            <mat-card-title>Thông tin chủ nhà</mat-card-title>
            <mat-card-content fxLayout="column">
              <mat-form-field>
                <input matInput placeholder="Số điện thoại" formControlName="ownerPhone">
              </mat-form-field>
              <mat-form-field>
                <input matInput placeholder="Email" formControlName="ownerEmail">
              </mat-form-field>
              <mat-form-field>
                <input matInput placeholder="Giá" formControlName="ownerPrice">
              </mat-form-field>
              <mat-form-field>
                <input matInput placeholder="Người liên hệ" formControlName="ownerContactPerson">
              </mat-form-field>
              <mat-form-field>
                <input matInput placeholder="Ngày bắt đầu" [matDatepicker]="pickerOwnerStart" formControlName="ownerStartDate">
                <mat-datepicker-toggle matSuffix [for]="pickerOwnerStart"></mat-datepicker-toggle>
                <mat-datepicker #pickerOwnerStart></mat-datepicker>
              </mat-form-field>
              <mat-form-field>
                <input matInput placeholder="Ngày kết thúc" [matDatepicker]="pickerOwnerEnd" formControlName="ownerEndDate">
                <mat-datepicker-toggle matSuffix [for]="pickerOwnerEnd"></mat-datepicker-toggle>
                <mat-datepicker #pickerOwnerEnd></mat-datepicker>
              </mat-form-field>
              <mat-form-field>
                <textarea matInput placeholder="Ghi chú" formControlName="ownerNote"></textarea>
              </mat-form-field>
            </mat-card-content>
          </mat-card>
          <mat-card class="company-info" fxFlex="1 1 50%">
            <mat-card-title>Thông tin CTQC</mat-card-title>
            <mat-card-content fxLayout="column">
              <mat-form-field>
                <input matInput placeholder="Tên công ty" formControlName="advCompName">
              </mat-form-field>
              <mat-form-field>
                <input matInput placeholder="Số điện thoại" formControlName="advCompPhone">
              </mat-form-field>
              <mat-form-field>
                <input matInput placeholder="Email" formControlName="advCompEmail">
              </mat-form-field>
              <mat-form-field>
                <input matInput placeholder="Giá" formControlName="advCompPrice">
              </mat-form-field>
              <mat-form-field>
                <input matInput placeholder="Người liên hệ" formControlName="advCompContactPerson">
              </mat-form-field>
              <mat-form-field>
                <input matInput placeholder="Ngày bắt đầu" [matDatepicker]="pickerCompStart" formControlName="advCompStartDate">
                <mat-datepicker-toggle matSuffix [for]="pickerCompStart"></mat-datepicker-toggle>
                <mat-datepicker #pickerCompStart></mat-datepicker>
              </mat-form-field>
              <mat-form-field>
                <input matInput placeholder="Ngày kết thúc" [matDatepicker]="pickerCompEnd" formControlName="advCompEndDate">
                <mat-datepicker-toggle matSuffix [for]="pickerCompEnd"></mat-datepicker-toggle>
                <mat-datepicker #pickerCompEnd></mat-datepicker>
              </mat-form-field>
              <mat-form-field>
                <textarea matInput placeholder="Ghi chú" formControlName="advCompNote"></textarea>
              </mat-form-field>
            </mat-card-content>
          </mat-card>
        </div>
      </mat-card-content>
      <mat-card-actions fxLayoutAlign="flex-end">
        <button type="button" mat-flat-button color="warn">Cancel</button>
        <button type="submit" [disabled]="f.form.invalid" mat-flat-button color="primary">Save</button>
      </mat-card-actions>
    </mat-card>
    <div class="media" fxLayout="column" fxFlex="1 1 20%">
      <mat-card class="normal">
        <mat-card-title>Hình ảnh</mat-card-title>
        <mat-card-content fxLayout="column">
          <div cdkDropList class="images" (cdkDropListDropped)="drop($event)">
            <div class="image" *ngFor="let image of advert.prevImages" cdkDrag fxLayout="column">
              <div class="image-placeholder" *cdkDragPlaceholder></div>
              <div class="image-actions">
                <mat-checkbox></mat-checkbox>
                <mat-icon>delete_outline</mat-icon>
              </div>
              <img [src]="'http://localhost:8080/resources/images?url=' + image.url" />
            </div>
          </div>
          <input type="file" [ngStyle]="{marginTop: '10px'}" />
        </mat-card-content>
      </mat-card>
      <mat-card class="map" [ngStyle]="{marginTop: '10px'}">
        <mat-card-title>Map</mat-card-title>
        <mat-card-content fxLayout="column">
          <input type="file" />
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</form>