<div class="company-detail" fxLayout="row">
  <mat-card fxFlex="1 1 60%">
    <mat-card-title>Tạo mới thông tin công ty</mat-card-title>
    <mat-card-content fxLayout="column">
      <div class="basic-info" fxLayout="column">
        <mat-form-field>
          <input matInput placeholder="Tên công ty">
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="Địa chỉ">
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="Số điện thoại">
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="Email">
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="Người liên hệ">
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="Số điện thoại Người liên hệ">
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="Mã số thuế">
        </mat-form-field>
        <mat-form-field>
          <textarea matInput placeholder="Ghi chú"></textarea>
        </mat-form-field>
      </div>
    </mat-card-content>
    <mat-card-actions fxLayoutAlign="flex-end">
      <button mat-flat-button color="warn">Cancel</button>
      <button mat-flat-button color="primary">Save</button>
    </mat-card-actions>
  </mat-card>
</div>