footer {
    height: 50px;
    line-height: 50px;
    background-color: #1a5a79;
    color: white;
    padding: 0 10px;
    margin-top: 40px;
    font-weight: bolder;
    font-size: 15px;
    position: absolute;
    bottom: 0;
    width: 100%;
}