<div class="user-detail" fxLayout="row">
  <mat-card fxFlex="1 1 60%">
    <form [formGroup]="userForm" #f="ngForm" (submit)="onSave()">
      <mat-card-title>{{user.id ? 'Cập nhật tài khoản' : 'Tạo mới tài khoản '}}</mat-card-title>
      <mat-card-content fxLayout="column">
        <div class="basic-info" fxLayout="column">
          <mat-form-field>
            <input matInput placeholder="Tên đăng nhập" formControlName="username">
          </mat-form-field>
          <mat-form-field>
            <input matInput formControlName="password" [type]="hidePassword ? 'password' : 'text'" placeholder="Mật khẩu">
            <mat-icon matSuffix (click)="hidePassword = !hidePassword">{{hidePassword ? 'visibility' :
              'visibility_off'}}</mat-icon>
          </mat-form-field>
          <mat-form-field>
            <input matInput placeholder="Tên" formControlName="name">
          </mat-form-field>
          <mat-form-field>
            <input matInput placeholder="Phòng ban" formControlName="department">
          </mat-form-field>
          <mat-form-field>
            <input matInput placeholder="Số điện thoại" formControlName="phone">
          </mat-form-field>
          <mat-form-field>
            <input matInput placeholder="Email" formControlName="email">
          </mat-form-field>
          <mat-form-field>
            <input matInput placeholder="Quyền">
          </mat-form-field>
        </div>
      </mat-card-content>
      <mat-card-actions fxLayoutAlign="flex-end">
        <button mat-flat-button color="warn" (click)="_location.back()" type="button">Cancel</button>
        <button mat-flat-button color="primary" type="submit" [disabled]="f.form.invalid">Save</button>
      </mat-card-actions>
    </form>
  </mat-card>
</div>