<div class="settings" fxLayout="row">
  <mat-card fxFlex="1 1 60%">
    <mat-card-title>Thời gian gửi email nhắc nhở hằng ngày</mat-card-title>
    <mat-card-content fxLayout="column">
      <div class="basic-info" fxLayout="column">
        <mat-form-field>
          <input matInput placeholder="HH:mm:ss">
        </mat-form-field>
      </div>
    </mat-card-content>
    <mat-card-title>Powerpoint template</mat-card-title>
    <mat-card-content fxLayout="column">
      <div class="basic-info" fxLayout="column">
        <input type="file">
      </div>
    </mat-card-content>
    <mat-card-actions fxLayoutAlign="flex-end">
      <button mat-flat-button color="warn">Cancel</button>
      <button mat-flat-button color="primary">Save</button>
    </mat-card-actions>
  </mat-card>
</div>