<div class="user-management-main" fxLayout="column" fxFlex="1 1 auto">
  <div class="actions" fxLayout="row" fxLayoutAlign="flex-end">
    <button mat-raised-button color="primary" routerLink="create">Thêm Mới</button>
  </div>

  <mat-form-field>
    <input matInput (keyup)="filter($event.target.value)" placeholder="Lọc">
  </mat-form-field>

  <div class="mat-elevation-z8 users" fxLayout="column" fxFlex="1 1 auto">
    <table mat-table [dataSource]="dataSource">

      <!-- Position Column -->
      <ng-container matColumnDef="position">
        <th mat-header-cell *matHeaderCellDef> STT </th>
        <td mat-cell *matCellDef="let element; let i = index"> {{i+1}} </td>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="username">
        <th mat-header-cell *matHeaderCellDef> Tên Đăng Nhập </th>
        <td mat-cell *matCellDef="let element; let i = index"> {{element.username}} </td>
      </ng-container>

      <!-- Weight Column -->
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef> Tên </th>
        <td mat-cell *matCellDef="let element"> {{element.name}} </td>
      </ng-container>

      <!-- Symbol Column -->
      <ng-container matColumnDef="department">
        <th mat-header-cell *matHeaderCellDef> Phòng Ban </th>
        <td mat-cell *matCellDef="let element"> {{element.department}} </td>
      </ng-container>
      <!-- Symbol Column -->
      <ng-container matColumnDef="phone">
        <th mat-header-cell *matHeaderCellDef> SĐT </th>
        <td mat-cell *matCellDef="let element"> {{element.phone}} </td>
      </ng-container>
      <!-- Symbol Column -->
      <ng-container matColumnDef="email">
        <th mat-header-cell *matHeaderCellDef> Email </th>
        <td mat-cell *matCellDef="let element"> {{element.email}} </td>
      </ng-container>

      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef> # </th>
        <td mat-cell *matCellDef="let element"> 
          <mat-icon [routerLink]="['/user-management', element.id]">edit</mat-icon>
          <mat-icon (click)="deleteUser(i, element.id)">delete</mat-icon>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

    <mat-paginator [pageSizeOptions]="pageSizeOptions" showFirstLastButtons></mat-paginator>
  </div>

  <div class="actions" fxLayout="row" fxLayoutAlign="flex-end">
    <button mat-raised-button color="primary" routerLink="create">Thêm Mới</button>
  </div>
</div>